{% extends "base.html" %}

{% block main %}
<div class="top-body">
    <div class="home-top">
        <div class="hiw-content">
            <h1>HOW IT WORKS</h1>
            <hr>
            <ol>
                <li>
                    <h3>Select Crypto Wallet</h3>
                    <p>If you do not already have access to a Crypto wallet. Select from listed Crypto wallet, or sign up for TrueSPAC Web3 Wallet. Buy, and or swap Crypto for your desired Regional, Domestic, Utility, Stablecoins (RDUC) in order to send to the recipient.</p>
                </li>
                <li>
                    <h3>Buying & Swapping Between Stablecoins</h3>
                    <p>Buying USDC, USDT, or DAI with Visa, Mastercard, Apple Pay, Google Pay, or your bank account. Make sure to select one of the two supported network/protocol/blockchain for the coin being purchased, that being Ethereum, or Polygon. </p>
                    <img src="{{ url_for('static', filename='hiw-1.png') }}" alt="USDC">
                    <p>Example: When purchasing USDC/USDT Stablecoins, select either their Etherium or Polygon based version, and not say USDC/USDT (Tron) or any other network/protocol/blockchain, thus USDC/USDT (Etereum, or Polygon). </p>
                    <p>When swapping for RDUCs, there is a similar process that applies,when conducting a swap. Select the USDT or USDC network/protocol/blockchain of choice, that being Ethereum or Polygon, then select the RDUC that is supported.</p>
                    <div class="step-2-images">
                        <img src="{{ url_for('static', filename='hiw-2.png') }}" alt="USDC">
                        <img src="{{ url_for('static', filename='hiw-3.png') }}" alt="USDC">
                        <img src="{{ url_for('static', filename='hiw-4.png') }}" alt="USDC">
                    </div>
                    <p>Using RDUC algorithmic Stablecoins, allow cash back, in the form of meme US Crypto Dollar Coin (mUS$C), also known as Uncle Sam Coin/Uncle Sam Crypto.</p>
                </li>
                <li>
                    <h3>Sending & Receiving Crypto</h3>
                    <p>Send Web3 funds/Crypto to the wallet address of choice, by selecting the recipient wallet address from your contact list, or use the recipient Web3 personal domain name as a wallet address & that's it.</p>
                </li>
                <li>
                    <h3>Topping Up Crypto Debit Card</h3>
                    <p>After receiving Web3 funds in your wallet, top up your virtual or physical Crypto debit card, and use it like cash, anywhere Visa card is accepted.</p>
                </li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}