{% extends "base.html" %}

{% block main %}
<div class="home-content">
    <!-- <div class="dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div> -->
    <div class="top-body">
        <div class="home-top">
            <div class="main-text">
                <!-- <h1>Web3 Remittance</h1> -->
                <h1 class="web3">Web3 Crypto Remittance, Lowest Fees<br>Ultra Fast, Fiat to Crypto, Crypto to Fiat </h1> 
                <div class="para">
                    <p class="send-t0-family">Send to family and friends Regional, Domestic,<br>Utility Coins (RDUC), such as US$C, CB$C, JM$C, AS$C,<br>EU$C, AF$C, or any listed Stablecoins, such as USDT.</p>
                    <a href="https://ramp.alchemypay.org/#/index" target="_blank"><button type="button"><strong>Buy Crypto</strong></button></a>
                </div>
            </div>
            <div class="main-image">
                <iframe
                    src="https://swap.dodoex.io/TrueSPAC?full-screen=true"
                    width="375"
                    height="494"
                    frameborder="0"
                    style="border-radius: 16px; border: none;"
                ></iframe>
            </div>
        </div>
        
    </div>
    <h1 class="column-top">Three simple steps to send Web3 Crypto Remittance</h1>
    <hr>
    <div class="three-columns">
        
        <div class="column">
            <div class="white-line">
                <div class="image-circle">
                    <img src="{{ url_for('static', filename='select-wallet.png') }}" alt="Select Wallet">
                    <!-- <div class="number">1</div> -->
                    <div class="column-heading">
                        <h2>Select Wallet</h2>
                    </div>
                </div>
                <div class="column-text">
                    <p>Select a listed Web3 wallet or sign up for TrueSPAC Web3 Wallet. lBuy, and or Swap Crypto for your desired Regional, Domestic, Utility, lStablecoins (RDUC).</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="white-line">
                <div class="image-circle">
                    <img src="{{ url_for('static', filename='crypto-card.png') }}" alt="Crypto Card">
                    <!-- <div class="number">2</div> -->
                    <div class="column-heading">
                        <h2>Crypto Card</h2>
                    </div>
                </div>
                <div class="column-text">
                    <p>Sign up for a virtual Crypto debit card for free or order your physical card of choice. Follow card instructions and top up your card with RDUC Crypto (Earn rewards using RDUC tokens) or select other listed Crypto.</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="white-line">
                <div class="image-circle">
                    <img src="{{ url_for('static', filename='send-crypto.png') }}" alt="Send Crypto">
                    <!-- <div class="number">3</div> -->
                    <h2>Send Crypto</h2>
                </div>
                <div class="column-text">
                    <p>Send Web3 funds/Crypto to the wallet address of choice, by selecting the recipient wallet address from your contact list, or use the recipient Web3 personal domain name as a wallet address & that's it.</p>
                </div>
            </div>
        </div>
    </div>

    <h1 id="news-letters">News-Letters</h1>
    <hr>

    <div class="news-section">
        <div class="news">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text">Venezuelans Sent Over $460 Million in Remittances Using Crypto in 2023</p>
                    <a href="https://news.bitcoin.com/venezuelans-sent-over-460-million-in-remittances-using-crypto-in-2023/" target="_blank" class="btn btn-primary">See Article</a>
                </div>
            </div>
        </div>

        <div class="news">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text">The Role of Crypto in Remittances: Revolutionizing Global Money Transfers</p>
                    <a href="https://medium.com/@ulriklykke/the-role-of-crypto-in-remittances-revolutionizing-global-money-transfers-e67e6e03ad2d" target="_blank" class="btn btn-primary">See Article</a>
                </div>
            </div>
        </div>

        <div class="news">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text">Crypto remittances offer cheaper alternative, but still face challenges to adoption</p>
                    <a href="https://cointelegraph.com/news/crypto-remittances-alternative-challenges-adoption" target="_blank" class="btn btn-primary">See Article</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}